<!DOCTYPE html>
    <html lang="en-us">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link 
      rel="stylesheet" 
      href="./assets/css/reset.css">
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">

    <link 
      rel="stylesheet" 
      href="./assets/css/style.css">
      <title>Page of Holding - D&D hub</title>
      </head>
      <header>
      <H1>Page Of Holding - your D&D character chest</H1>
      </header>
  
    <body>
        {{{ body }}}
    </body>
    <footer>

    </footer>
